/* Reset margin and padding */
body {
    margin: 0;
    font-family:'Nunito', sans-serif;
}

/* Navbar styling */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F0DBC5;
    display: flex;
    height: 55px;
    align-items: center;
}

/* Navbar items */
ul li {
    display: inline;
}

/* Links styling */
ul li a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 25px 25px;
    text-align: center;
}

/* Hover effect */
ul li a:hover {
    background-color: #C4B5A5;
}

.active {
	background-color: #C4B5A5;
}

/* Alignment: left for first item, right for last item */
ul li:first-child {
    height: auto;
}

ul li:last-child {
    margin-left: auto;
}

/* Header styling */
header {
    text-align: center;
    padding: 20px;
    color: black;
}

header h1 {
    margin: 0;
}

/* Main content styling */
main {
    padding: 20px;
    max-width: 900px;
    margin: auto;
}

main h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    
}

thead th {
    background-color: #F0DBC5;
    color: black;
    padding: 10px;
    text-align: left;
    font-weight: 600;
    border: 1px solid black;
}

tbody td {
    padding: 10px;
    border: 1px solid black;
}

thead th:first-child, tbody td:first-child {
    width: 30px; /* Lebar tetap untuk kolom "No" */
    text-align: center; /* Opsional: Teks diratakan ke tengah */
}


table, th, td, tr {
    border: none;
}