/* General body styling */
body {
    font-family: 'Nunito', sans-serif; /* Ensure you use the same font */
    margin: 0;
    padding: 0;
    background-color: #F0DBC5; /* Background color */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
}

/* Container for the form */
.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center;
}

/* Header styling */
.form-container h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Input fields and select drop downs */
input[type="text"], select {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

/* Buttons */
input[type="submit"]{
    background-color: #D4AF37; /* Gold color */
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px 5px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover{
    background-color: #B8860B; /* Darker gold for hover effect */
}

/* Link styling */
p a {
    color: #F0DBC5;
    text-decoration: none;
    font-weight: bold;
}

p a:hover {
    text-decoration: underline;
}
